.chat-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  .chat-room-section {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    .chat-room-title {
      color: #ffe5ca;
      display: flex;
      height: 10%;
      justify-content: space-between;
      align-items: center;
      background-color: #fa9884;
      h1 {
        padding-left: 20px;
      }
      .logout-button {
        margin-right: 20px;
        cursor: pointer;
      }
    }
    .chat-room-messages {
      flex-grow: 1;
      overflow-y: scroll;
      color: #fa9884;

      .chat-room-message {
        width: 100%;
        margin-top: 10px;
        font-weight: 600;
        span {
          background-color: #ffe5ca;
          border-radius: 5px;
          padding: 2px 10px 2px 10px;
          margin: 0 10px 0 10px;
          font-weight: 900;
        }
      }
      .left {
        text-align: start;
      }
      .right {
        text-align: end;
      }
    }
    .chat-message-input {
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      input {
        padding-left: 20px;
        width: 80%;
        height: 25px;
        border: 1px solid #e74646;
        border-radius: 5px;
      }
      .send-button {
        color: #e74646;
        background-color: #ffe5ca;
        border: none;
        border-radius: 10px;
        width: 40px;
        height: 30px;
      }
    }
  }
}
