.login-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .login-form {
    width: 400px;
    height: 200px;
    border: 1px solid;
    h1 {
      text-align: center;
    }
    .login-input {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 10px 0 10px 0;
      label {
        width: 20%;
        text-align: center;
        padding-right: 20px;
      }
    }
    .login-interact {
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      button {
        margin-right: 20px;
      }
      a {
        margin-left: 20px;
      }
    }
  }
}
